.contact-body {
    background-color: rgb(24, 24, 27);
    color: white;
    margin-top: 80px;
}
.contact-body h1{
    font-size: 30pt;
    text-align: center;
    margin-bottom: 30px;

}
.contact-body h3{
    margin-left: 40px;
}
.contact-body p{
    font-size: 13pt;
    color: rgb(211, 211, 211);
}

.contact-elmt {
    margin-bottom: 30px;
    display: flexbox;
    flex-direction: row;
    
}

.contact-elmt p{
    font-size: 20pt;
}

.contact-elmt a{
    padding: 0em;
}